<%- include("header") -%>

<h2>This is the about page.</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, id tempora. Laboriosam architecto veniam voluptatem culpa amet quae numquam. Mollitia nam quo sit magni pariatur perferendis dolor qui placeat fugit?</p>

<%- include("footer") -%>